#Menu {
  display: flex;
  align-items: center;
}
#Menu ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
#Menu ul a {
  color: #FFF;
  text-decoration: none;
  font-size: var(--font-size-large);
  margin-right: 3rem;
}
#Menu ul a:hover {
  opacity: 0.5;
}