.ListWorksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ListWorksContainer > .TitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  margin-bottom: 3rem;
}
.ListWorksContainer .ListWorksContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}