.DeleteButton {
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-error);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border: 1px solid var(--color-error);
}
.DeleteButton:hover {
  background-color: var(--color-error);
  color: white;
}
.DeleteButton:disabled {
  opacity: 0.3;
}