.BudgetContainer {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 3.5rem;
}
.BudgetHeader {
  padding: 1rem;
  background-color: var(--color-action);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BudgetHeader h3 {
  font-size: 1.6rem;
  padding-right: 2rem;
}
.BudgetHeader .IconsContainer {
  min-width: 70px;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}
.BudgetHeader .IconsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.BudgetHeader .IconsContainer button:hover .TrashIcon {
  color: var(--color-error);
}
.BudgetHeader .IconsContainer button:hover .EditIcon {
  color: var(--color-dark);
}
.BudgetHeader .TrashIcon {
  min-width: 2rem;
  min-height: 2rem;
}
.BudgetHeader .EditIcon {
  min-width: 2rem;
  min-height: 2rem;
}
.BudgetBody {
  width: 100%;
}
.BudgetContainer .Row {
  width: 100%;
  display: flex;
}
.BudgetContainer .Row > div {
  padding: 0.6rem 1.5rem;
  font-size: 2rem;
  width: 33.33%;
}
.BudgetContainer .Row.RowHeader span {
  font-size: 1.5rem;
}
.BudgetContainer .Row.RowHeader div {
  background-color: var(--color-light);
}
