.ConfigContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ConfigContainer h1 {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid grey;
}
.ConfigContainer > div {
  margin-top: 1.5rem;
}