.BudgetPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.BudgetListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.BudgetListContainer h1 {
  text-align: center;
}
.BudgetPageTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  margin-bottom: 2rem;
}