.SignupFormContainer {
  background-color: var(--color-dark);
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
}
.SignupFormContainer h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.SignupForm .FormItem label {
  padding-bottom: 6px;
  color: grey;
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.SignupForm .FormItem input {
  color: white;
  background-color: var(--color-light);
  padding: 6px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: var(--font-size-medium);
  margin-top: 0.5rem;
}
.SignupFormContainer button {
  background-color: var(--color-orange);
  color: white;
  font-size: var(--font-size-large);
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 16px;
}
.SignupFormContainer button:disabled {
  opacity: .5;
}
.SignupFormContainer .FormLoading {
  color: white;
  text-align: center;
  padding: 12px;
}