#Layout {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--color-medium);
}
#Layout .LayoutContentContainer {
  max-width: 550px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 75vh;
  z-index: 0;
}