#Layout {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  background-color: #FFF;
  position: relative;
  display: flex;
  flex-direction: column;
}
#Layout .LayoutContentContainer {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  flex-grow: 1;
}