
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
:root {
  --color-dark: #008EE9;
  --color-medium: #9AD0EC;
  --color-light: #EFDAD7;
  --color-action: #E3BEC6;
  --color-error: rgb(230, 95, 95);
  --font-size-small: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}
body {
  overflow: hidden;
}
h1 {
  color: var(--color-dark);
  font-size: 2.4rem;
}
.FormError {
  color: var(--color-error);
  font-size: 1.4rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
}