.WorkContainer {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5rem;
}
.WorkContainer .TitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.WorkContainer .TitleContainer .TitleContainerLeft {
  display: flex;
  align-items: center;
}
.WorkContainer .TitleContainer .TitleContainerLeft button {
  background-color: transparent;
  border: none;
}
.WorkContainer .TitleContainer .TitleContainerLeft button.isDetailt {
  cursor: pointer;
}
.WorkContainer .TitleContainer h3 {
  font-size: 2.2rem;
  padding-bottom: 0.4rem;
}
.WorkContainer .TitleContainer .WorkType {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  background-color: var(--color-light);
  color: black;
  margin-left: 1rem;
}
.WorkContainer .TitleContainer .DeleteButton {
  justify-self: flex-end;
}
.WorkContainer .ClientName {
  font-size: 1.6rem;
  color: gray;
}
