.WorkContainer {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5rem;
}

.WorkContainer .TitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.WorkContainer .TitleContainer .TitleContainerLeft {
  display: flex;
  align-items: center;
}
.WorkContainer .TitleContainer .TitleContainerLeft button {
  background-color: transparent;
  border: none;
}
.WorkContainer .TitleContainer .TitleContainerLeft button.isDetailt {
  cursor: pointer;
}
.WorkContainer .TitleContainer h3 {
  font-size: 2.2rem;
  padding-bottom: 0.4rem;
}
.WorkContainer .TitleContainer .WorkType {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  background-color: var(--color-light);
  color: black;
  margin-left: 1rem;
}
.WorkContainer .TitleContainer .DeleteButton {
  justify-self: flex-end;
}
.WorkContainer .ClientName {
  font-size: 1.6rem;
  color: gray;
}

.WorkContainer .IconsContainer {
  min-width: 70px;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}
.WorkContainer .IconsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.WorkContainer .IconsContainer button:hover .TrashIcon {
  color: var(--color-error);
}
.WorkContainer .IconsContainer button:hover .EditIcon {
  color: var(--color-dark);
}
.WorkContainer .TrashIcon {
  min-width: 2.5rem;
  min-height: 2.5rem;
}
.WorkContainer .EditIcon {
  min-width: 2.5rem;
  min-height: 2.5rem;
}
